TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [3]:
# Answer 1

def string_reverser(input_string1):
    reversed_string1=input_string1[::-1]
    return reversed_string1

input_string1=input("Enter the string :")
string_reverser(input_string1)

Enter the string : okay

'yako'

2. Check if a string is a palindrome.

In [6]:
input_string2=input("Enter the string :")
temp_string2=input_string2[::-1]

is_palindrome=input_string2==temp_string2
print(is_palindrome)

Enter the string : hello

False

3. Convert a string to uppercase.

In [7]:
input_string3=input("Enter the string :")
uppercase_string3=input_string3.upper()

print(uppercase_string3)

Enter the string : hello

HELLO

4. Convert a string to lowercase.

In [8]:
input_string4=input("Enter the string :")
lowercase_string4=input_string4.lower()

print(lowercase_string4)

Enter the string : HELLO

hello

5. Count the number of vowels in a string.

In [17]:
input_string5 = input("Enter the string:")

def vowel_counter(str):
    count = 0
    for i in str:
        if i in ('a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'):
            count += 1
    return count

v_num = vowel_counter(input_string5)
print(v_num)

Enter the string: hi

1

6. Count the number of consonants in a string.

In [19]:
input_string6 = input("Enter the string:")

def consonant_counter(str):
    count = 0
    for i in str:
        if i not in ('a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'):
            count += 1
    return count

c_num = consonant_counter(input_string6)
print(c_num)

Enter the string: hello

3

7. Remove all whitespaces from a string.

In [23]:
input_string7=input("Enter the string :")
temp_string7=""

for i in input_string7:
    if i == " ":
        temp_string7+=""
    else : temp_string7+=i
print(temp_string7)

Enter the string : hello world

helloworld

8. Find the length of a string without using the `len()` function.

In [24]:
input_string8=input("Enter the string :")
length_string8=0
for i in input_string8:
    length_string8+=1
print(length_string8)

Enter the string : hello world

11

9. Check if a string contains a specific word.

In [26]:
input_string9=input("Enter the string :")
word9=input("Enter the word :")

def is_present(string,word):
    if word in string:
        return True
    else : return False

check=is_present(input_string9,word9)
print(check)

Enter the string : hello world
Enter the word : or

True

10. Replace a word in a string with another word.

In [28]:
string10 = input("Enter the string:")
word10 = input("Enter the word which has to be replaced:")
new_word10 = input("Enter the word which needs to be inserted:")

if word10 in string10:
    string10 = string10.replace(word10, new_word10)
else:
    print("The word that you entered does not exist in the string")

print(string10)

Enter the string: hello world
Enter the word which has to be replaced: world
Enter the word which needs to be inserted: globe!

hello globe!

11. Count the occurrences of a word in a string.

In [1]:
input_string11 = input("Enter the string:")
target_word11 = input("Enter the word to count:")

occurrences = input_string11.count(target_word11)
print(f"The word '{target_word11}' appears {occurrences} times in the string.")

Enter the string: hello hello hello
Enter the word to count: ll

The word 'll' appears 3 times in the string.

12. Find the first occurrence of a word in a string.

In [9]:
input_string12= input("Enter the string :")
target_word12= input("Enter the word for which occurrence has to be found:")

occurrence12 = input_string12.index(target_word12)
print(f"The word '{target_word12}' appears at {occurrence12} index.")

Enter the string : quick brown fox
Enter the word for which occurrence has to be found: fox

The word 'fox' appears at 12 index.

13. Find the last occurrence of a word in a string.

In [2]:
text13 = "This is a test string. This is another test string."
word13 = "test"

index13 = text13.rfind(word13)

print(index13)

39

14. Split a string into a list of words.

In [4]:
string13="This is a test string"
list_string13=string13.split()

print(list_string13)

['This', 'is', 'a', 'test', 'string']

15. Join a list of words into a string.

In [12]:
list15=["This","is","a","test","string"]
string15=""

for i in list15:
    string15+=i+" "
    
print(string15)

This is a test string

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [17]:
string16="This a test string"

string16=string16.replace(" ","_")
print(string16)

This_a_test_string

17. Check if a string starts with a specific word or phrase.

In [20]:
string17 = "This is a test string."

substring17 = "This"

if string17.startswith(substring17):
  print("The string starts with the word \"This\".")
else:
  print("The string does not start with the word \"This\".")

The string starts with the word "This".

18. Check if a string ends with a specific word or phrase.

In [24]:
string18 = "This is a test string"

substring18="string"

if string18.endswith(substring18):
    print(f"The string ends with the,'{substring18}'.")
else :
    print(f"The string doesn't ends with the,'{substring18}'.")

The string ends with the,'string'.

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [25]:
string19="hello world"
string19=string19.title()
print(string19)

Hello World

20. Find the longest word in a string.

In [3]:
string20="This is a test string"
list20=string20.split()
max_len=0

for i in list20:
    if(len(i)>max_len):
        max_len=len(i)
        longest_word=i
print(longest_word)

string

21. Find the shortest word in a string.

In [1]:
string21="This is a test string"
list21=string21.split()
min_len=100
min_len_element=""
for i in list21:
    if len(i)<min_len:
        min_len=len(i)
        min_len_element=i
print(min_len_element)

a

22. Reverse the order of words in a string.

In [6]:
string22="This is a test string"
list22=string22.split()
temp_list22=list22[::-1]
print(temp_list22)

['string', 'test', 'a', 'is', 'This']

23. Check if a string is alphanumeric.

In [1]:
def is_alphanumeric(string):
  for character in string:
    if not character.isalnum():
      return False

  return True


string23 = "ThisIsAlphanumericString"

is_alphanumeric_string = is_alphanumeric(string23)

print("The string is alphanumeric:", is_alphanumeric_string)

The string is alphanumeric: True

24. Extract all digits from a string.

In [5]:
string24="This is a test string 123"
list24=string24.split()
digit_list24=[]

for i in list24:
    if i.isdigit():
        digit_list.append(i)
        
print(digit_list)

['123', '123']

25. Extract all alphabets from a string.

In [7]:
string25="1234 This over 34 here is 9797 a 3 test string"
list25=string25.split()
digit_list25=[]

for i in list25:
    if i.isalpha():
        digit_list25.append(i)
        
print(digit_list25)

['This', 'over', 'here', 'is', 'a', 'test', 'string']

26. Count the number of uppercase letters in a string.

In [10]:
def count_uppercase_letter(string):
    count=0
    for letter in string:
        if letter.isupper():
            count+=1
    
    return count

string26="This Is A Test String"

upper_case_letters=count_uppercase_letter(string26)

print(upper_case_letters)

5

27. Count the number of lowercase letters in a string.

In [13]:
def count_lowercase_letter(string):
    count=0
    for letter in string:
        if letter.islower():
            count+=1
    return count

string27="This is a test string"

lower_case_letters=count_lowercase_letter(string27)

print(lower_case_letters)

16

28. Swap the case of each character in a string.

In [15]:
string28="This is a test string"
string28=string28.swapcase()
print(string28)

tHIS IS A TEST STRING

29. Remove a specific word from a string.

In [22]:
string29="This is a test string"
string29=string29.replace("test ","")
print(string29)

This is a string

30. Check if a string is a valid email address.

In [10]:
def is_valid_email(email):
    
  parts = email.split("@")

  if len(parts) != 2:
    return False

  username = parts[0]
  domain = parts[1]

  if not username.isalnum() or not domain[0:-5].isalnum():
    return False

  if not domain.endswith(".com"):
    return False

  return True


email = "test@gmail.com"

is_valid_email = is_valid_email(email)

print("The email address is valid:", is_valid_email)

The email address is valid: True

31. Extract the username from an email address string.

In [8]:
email31="test31@gmail.com"
username31=email31.split("@")[0]
print(username31)

test31

32. Extract the domain name from an email address string.

In [10]:
string32="test32@gmail.com"
domainname=string32.split("@")[1]
print(domainname)

gmail.com

33. Replace multiple spaces in a string with a single space.

In [10]:
string33="This is  a test    string."
list33=string33.split()
string33=" ".join(list33)
print(string33)

This is a test string.

34. Check if a string is a valid URL.

In [33]:
def is_valid_url(url):
  domain_name=""

  if url.startswith('https://'):
        if url.endswith('.com'):
                if " " not in url:
                    return True
                else: return False
        else: return False
    
  elif (url.startswith('http://')):
        if url.endswith('.com'):
                if " " not in url:
                    return True
                else: return False
        else: return False
    
  else: return False

url34 = 'https://www.google.com'
print(is_valid_url(url34))

True

35. Extract the protocol (http or https) from a URL string.

In [35]:
string35="https://www.google.com"
def protocol_extractor(string):
    if is_valid_url(string):
        if string.startswith("https"):
            protocol="https"
        else: protocol="http"
        return protocol
    else: return false
result=protocol_extractor(string35)
print(result)

https

36. Find the frequency of each character in a string.

In [37]:
string36="Brown fox had a Brown leg and Brown eyes."
frequency_counter=string36.count("Brown")
print(frequency_counter)

3

37. Remove all punctuation from a string.

In [38]:
def remove_punctuation(text):
  punctuation = "!?.,;:'\"()<>/"
  return ''.join(ch for ch in text if ch not in punctuation)

print(remove_punctuation("This is a test!"))

This is a test

38. Check if a string contains only digits.

In [42]:
def digit_checker(string):
    if string.isdigit():
        return True
    else: return False

string38="875048"
result38=digit_checker(string38)
print(result38)

True

39. Check if a string contains only alphabets.

In [45]:
def alphabet_checker(string):
    if string.isalpha():
        return True
    else: return False

string39="Thisisastring"
result39=alphabet_checker(string39)
print(result39)

True

40. Convert a string to a list of characters.

In [52]:
def string_to_list(string):
    return list(string)


string = "Hello, world!"
list_of_characters = string_to_list(string)

print(list_of_characters)

['H', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

41. Check if two strings are anagrams.

In [5]:
def are_anagrams(str1, str2):

    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    return sorted(str1) == sorted(str2)

string1 = "Listen"
string2 = "Silent"
print(are_anagrams(string1, string2))

True

42. Encode a string using a Caesar cipher.

In [7]:
def caesar_cipher_encrypt(text, shift):
    encrypted_text = ""
    for char in text:
        if char.isalpha():
            ascii_offset = 65 if char.isupper() else 97
            encrypted_char = chr((ord(char) - ascii_offset + shift) % 26 + ascii_offset)
            encrypted_text += encrypted_char
        else:
            encrypted_text += char
    return encrypted_text

# Input the text and the shift value
plaintext = input("Enter the plaintext: ")
shift = int(input("Enter the shift value: "))

# Encrypt the plaintext using the Caesar cipher
encrypted_text = caesar_cipher_encrypt(plaintext, shift)
print("Encrypted text:", encrypted_text)

Enter the plaintext:  hello
Enter the shift value:  6

Encrypted text: nkrru

43. Decode a Caesar cipher encoded string.

In [8]:
def caesar_cipher_decrypt(encrypted_text, shift):
    decrypted_text = ""
    for char in encrypted_text:
        if char.isalpha():
            ascii_offset = 65 if char.isupper() else 97
            decrypted_char = chr((ord(char) - ascii_offset - shift) % 26 + ascii_offset)
            decrypted_text += decrypted_char
        else:
            decrypted_text += char
    return decrypted_text

encrypted_text = input("Enter the encrypted text: ")
shift = int(input("Enter the shift value: "))

decrypted_text = caesar_cipher_decrypt(encrypted_text, shift)
print("Decrypted text:", decrypted_text)

Enter the encrypted text:  nkrru
Enter the shift value:  6

Decrypted text: hello

44. Find the most frequent word in a string.

In [ ]:
def most_frequent_word(text):

    cleaned_text = ''.join([c.lower() if c.isalnum() or c.isspace() else ' ' for c in text])
    

    words = cleaned_text.split()
    

    word_frequency = {}
    for word in words:
        if word in word_frequency:
            word_frequency[word] += 1
        else:
            word_frequency[word] = 1
    

    most_frequent = max(word_frequency, key=word_frequency.get)
    
    return most_frequent, word_frequency[most_frequent]


input_text = "This is a sample string. This string is just a sample."
result_word, frequency = most_frequent_word(input_text)
print(f"The most frequent word is '{result_word}' with a frequency of {frequency}")

45. Find all unique words in a string.

In [9]:
def find_unique_words(input_string):
    words = input_string.split()
    unique_words = set(words)
    
    return unique_words

input_string = "This is a sample sentence. This sentence contains some words."
unique_words = find_unique_words(input_string)
print(unique_words)

{'sentence.', 'contains', 'sentence', 'some', 'words.', 'a', 'is', 'This', 'sample'}

46. Count the number of syllables in a string.

In [10]:
def count_syllables(word):
    word = word.lower()
    if word == "":  # Empty word has 0 syllables
        return 0

    # Count vowels (not counting consecutive vowels as separate syllables)
    vowels = "aeiou"
    num_syllables = 0
    prev_char = None

    for char in word:
        if char in vowels and (prev_char is None or prev_char not in vowels):
            num_syllables += 1
        prev_char = char

    # Remove "e" from the end (silent e)
    if word.endswith("e"):
        num_syllables -= 1

    # At least one syllable for every word
    num_syllables = max(1, num_syllables)

    return num_syllables

input_word = "syllables"
syllable_count = count_syllables(input_word)
print(f"The word '{input_word}' has {syllable_count} syllable(s).")

The word 'syllables' has 2 syllable(s).

47. Check if a string contains any special characters.

In [11]:
def contains_special_characters(input_string):
    special_characters = "!@#$%^&*()_+{}|:\"<>?`-=[];',./"
    for char in input_string:
        if char in special_characters:
            return True
    return False

input_string = "Hello! How are you?"
if contains_special_characters(input_string):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

The string contains special characters.

48. Remove the nth word from a string.

In [14]:
def remove_nth_word(input_string, n):
    words = input_string.split()
    
    if 1 <= n <= len(words):
        del words[n - 1]
        return ' '.join(words)
    else:
        return input_string

input_string = "This is a sample sentence."
n = 3  # Remove the third word

result_string = remove_nth_word(input_string, n)
print(result_string)

This is sample sentence.

49. Insert a word at the nth position in a string.

In [16]:
def insert_word_at_nth_position(input_string, word_to_insert, n):
    words = input_string.split()
    
    if 0 <= n <= len(words):
        words.insert(n, word_to_insert)
        return ' '.join(words)
    else:
        return input_string

input_string = "This is a sentence."
word_to_insert = "sample"
n = 2  # Insert at the third position (0-based index)

result_string = insert_word_at_nth_position(input_string, word_to_insert, n)
print(result_string)

This is sample a sentence.

50. Convert a CSV string to a list of lists.

In [17]:
csv_string = "1,John,Doe\n2,Jane,Smith\n3,Robert,Johnson"

# Convert CSV string to a list of lists
csv_list = []

rows = csv_string.split('\n')
for row in rows:
    if row:
        csv_list.append(row.split(','))

print(csv_list)

[['1', 'John', 'Doe'], ['2', 'Jane', 'Smith'], ['3', 'Robert', 'Johnson']]

TOPIC : List Based Practice Problem

1. Create a list with integers from 1 to 10.

In [2]:
list1=[]
for i in range(1,11):
    list1.append(i)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [3]:
list_length=0
for char in list1:
    list_length+=1
print(list_length)

10

3. Append an element to the end of a list.

In [4]:
list1.append(11)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

4. Insert an element at a specific index in a list.

In [5]:
list1.insert(0,0)
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

5. Remove an element from a list by its value.

In [6]:
list1.remove(0)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

6. Remove an element from a list by its index.

In [7]:
list1.pop(10)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

7. Check if an element exists in a list.

In [8]:
def element_checker(input_list):
    if 4 in input_list:
        return True
    else: return False
result7=element_checker(list1)
print(result7)

True

8. Find the index of the first occurrence of an element in a list.

In [19]:
list8=[6,3,56,13,5,5,6]
first_occurence=list8.index(5)
print(first_occurence)

4

9. Count the occurrences of an element in a list.

In [20]:
occurence=list8.count(5)
print(occurence)

2

10. Reverse the order of elements in a list.

In [21]:
list8=list8[::-1]
print(list8)

[6, 5, 5, 13, 56, 3, 6]

11. Sort a list in ascending order.

In [22]:
list8.sort()
print(list8)

[3, 5, 5, 6, 6, 13, 56]

12. Sort a list in descending order.

In [23]:
list8.sort(reverse=True)
print(list8)

[56, 13, 6, 6, 5, 5, 3]

13. Create a list of even numbers from 1 to 20.

In [24]:
even_num_list=[]
for i in range(1,21):
    if i%2==0:
        even_num_list.append(i)
print(even_num_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [25]:
odd_num_list=[]
for i in range(1,21):
    if i%2!=0:
        odd_num_list.append(i)
print(odd_num_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [26]:
element_sum=0
for char in even_num_list:
    element_sum+=char
print(element_sum)

110

16. Find the maximum value in a list.

In [27]:
max_value=max(even_num_list)
print(max_value)

20

17. Find the minimum value in a list.

In [29]:
min_value=min(even_num_list)
print(min_value)

2

18. Create a list of squares of numbers from 1 to 10.

In [33]:
even_num_square_list=[]
for char in even_num_list:
    even_num_square_list.append(char**2)
print(even_num_square_list)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

19. Create a list of random numbers.

In [38]:
import random
random_num_list=[]
for i in range(1,11):
    random_num_list.append(random.randint(1,100))
print(random_num_list)

[18, 76, 24, 36, 15, 44, 20, 55, 43, 74]

20. Remove duplicates from a list.

In [39]:
original_list = [2, 4, 6, 2, 8, 4, 10, 6]
unique_list = list(set(original_list))

print(unique_list)

[2, 4, 6, 8, 10]

21. Find the common elements between two lists.

In [45]:
temp_list1=[4,6,2,8]
temp_list2=[5,6,2,6,2]
common_elements_list=[]

for elementoflist1 in temp_list1:
    if elementoflist1 in temp_list2 :
        common_elements_list.append(elementoflist1)
        
common_elements_list=list(set(common_elements_list))
        
print(common_elements_list)

[2, 6]

22. Find the difference between two lists.

In [47]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

difference = []

for item in list1:
    if item not in list2:
        difference.append(item)

print(difference)

[1, 2]

23. Merge two lists.

In [48]:
merged_list=list1+list2
print(merged_list)

[1, 2, 3, 4, 5, 3, 4, 5, 6, 7]

24. Multiply all elements in a list by 2.

In [52]:
for i in range(len(list1)):
    list1[i]*=2
    
print(list1)

[2, 4, 6, 8, 10]

25. Filter out all even numbers from a list.

In [53]:
even_num=[]
for i in range(len(list2)):
    if list2[i]%2==0:
        even_num.append(list2[i])
        
print(even_num)

[4, 6]

26. Convert a list of strings to a list of integers.

In [58]:
list_string=['23','34','6','432']
list_integers=[]

for element in list_string:
    list_integers.append(int(element))
    
print(list_integers)

[23, 34, 6, 432]

27. Convert a list of integers to a list of strings.

In [61]:
for i in range(len(list_integers)):
    list_string[i]=str(list_integers[i])
    
print(list_string)

['23', '34', '6', '432']

28. Flatten a nested list.

In [67]:
parent_list=[[1,2,3],[4,5,6],[7,8,9]]
flatten_list=[]

for i in range(len(parent_list)):
    for j in range(len(parent_list[i])):
        flatten_list.append(parent_list[i][j])
        
print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [68]:
fibonacci_list = [0, 1]

while len(fibonacci_list) < 10:
    next_fibonacci = fibonacci_list[-1] + fibonacci_list[-2]
    fibonacci_list.append(next_fibonacci)

print(fibonacci_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [69]:
def is_sorted(lst):
    for i in range(len(lst) - 1):
        if lst[i] > lst[i + 1]:
            return False
    return True

my_list = [1, 3, 5, 7, 9]
print(is_sorted(my_list))

unsorted_list = [3, 1, 7, 5, 9]
print(is_sorted(unsorted_list))

True
False

31. Rotate a list to the left by `n` positions.

In [2]:
def left_rotater(list31,n):
    n%=len(list31)
    
    return list31[n:]+list31[:n]

list31=[1,2,3,4,5]
rotated_string=left_rotater(list31,2)
print(rotated_string)

[3, 4, 5, 1, 2]

32. Rotate a list to the right by `n` positions.

In [7]:
def right_rotater(list32,n):
    n%=len(list32)
    
    return list32[-n:]+list32[:-n]

list32=[1,2,3,4,5]
rotated_string=right_rotater(list32,2)
print(rotated_string)

[4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [ ]:
def prime_list(n):
    result=[]
    
    for i in range(n+1):
        for j in range(1,i):
            if i%j!=0:
                result.append(i)
                
    return result

list33=prime_list(10)
print(list33)

33. Create a list of prime numbers up to 50.

In [2]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

prime_list = []
for num in range(2, 51):
    if is_prime(num):
        prime_list.append(num)

print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [3]:
def chunks_creater(lst, n):
    return [lst[i:i + n] for i in range(0, len(lst), n)]

my_list = [1, 1, 2, 2, 3, 3, 4, 4, 5, 5]
chunked_list = chunks_creater(my_list, 2)
print(chunked_list)

[[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]]

35. Find the second largest number in a list.

In [8]:
test_list=[3,5,2,6,3,2,5,4,7,3]
largest_num=0
second_largest=0

for i in test_list:
    if i>largest_num:
        second_largest=largest_num
        largest_num=i

print(second_largest)

6

36. Replace every element in a list with its square.

In [10]:
test_list_36=[1,2,3,4,5,6]

for i in range(len(test_list_36)):
    test_list_36[i]=test_list_36[i]**2
               
print(test_list_36)

[1, 4, 9, 16, 25, 36]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [14]:
def list_to_dictionary(input_list):
    my_dictionary = {}
    for i in range(len(input_list)):
        my_dictionary[i] = input_list[i]
    
    return my_dictionary

my_list = [10, 20, 30, 40, 50]
my_dictionary = list_to_dictionary(my_list)
print(my_dictionary)

{0: 10, 1: 20, 2: 30, 3: 40, 4: 50}

38. Shuffle the elements of a list randomly.

In [16]:
import random

def shuffle_list(lst):
    random.shuffle(lst)

my_list = [1, 2, 3, 4, 5]
shuffle_list(my_list)
print(my_list)

[5, 1, 4, 3, 2]

39. Create a list of the first 10 factorial numbers.

In [19]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

factorial_numbers = [factorial(i) for i in range(10)]
print(factorial_numbers)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [21]:
def have_common_element(list1, list2):
    for element in list1:
        if element in list2:
            return True
    return False

list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]
result = have_common_element(list1, list2)
print(result)

True

41. Remove all elements from a list.

In [1]:
my_list=[1,2,3,4,5,6]
my_list.clear()
print(my_list)

[]

42. Replace negative numbers in a list with 0.

In [4]:
# Answer 42

list42=[1,2,3,4,-3,-8,2,-6]

for i in range(len(list42)):
    if list42[i]<0:
        list42[i]=0
        
print(list42)

[1, 2, 3, 4, 0, 0, 2, 0]

43. Convert a string into a list of words.

In [10]:
string43="This is a string"
list43=string43.split()
print(list43)

['This', 'is', 'a', 'string']

44. Convert a list of words into a string.

In [14]:
string44=" ".join(list43)
print(string44)

This is a string

45. Create a list of the first `n` powers of 2.

In [19]:
# Answer 45
def powers_list(x,n):
    pow_list=[]
    for i in range(0,n):
        if len(pow_list)==0:
            pow_list.append(x)
        else: pow_list.append(x*pow_list[i-1])
        
    return pow_list

result_list=powers_list(2,5)
print(result_list)

[2, 4, 8, 16, 32]

46. Find the longest string in a list of strings.

In [1]:
string46="Who is the longest string in me?"
list46=string46.split()
max_length_element=string46[0]
for element in list46:
    if len(element)>len(max_length_element):
        max_length_element=element

print(max_length_element)

longest

47. Find the shortest string in a list of strings.

In [3]:
string47="Who is the shortest string in me?"
list47=string47.split()
shortest_length_element=list47[0]
for element in list47:
    if len(element)<len(shortest_length_element):
        shortest_length_element=element
        
print(shortest_length_element)

is

48. Create a list of the first `n` triangular numbers.

In [4]:
n = 5  
triangular_numbers = []

for i in range(1, n + 1):
    triangular_numbers.append(i * (i + 1) // 2)

print(triangular_numbers)

[1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [6]:
def is_subsequence(sublist, mainlist):
    sub_len = len(sublist)
    main_len = len(mainlist)
    

    sub_index = 0
    main_index = 0


    while main_index < main_len and sub_index < sub_len:

        if sublist[sub_index] == mainlist[main_index]:
            sub_index += 1
        main_index += 1


    return sub_index == sub_len


main_list = [1, 2, 3, 4, 5, 6, 7]
sub_list = [2, 4, 6]

result = is_subsequence(sub_list, main_list)
print(result)

True

50. Swap two elements in a list by their indices.

In [10]:
list50=[1,2,3,4,5,6,7,8,9]
list50[0],list50[8]=list50[8],list50[0]
print(list50)

[9, 2, 3, 4, 5, 6, 7, 8, 1]

Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [6]:
t1=(1,2,3,4,5)
print(t1)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [7]:
t1[2]

3

3. Find the length of a tuple without using the `len()` function.

In [9]:
count=0
for _ in t1:
    count+=1
print(count)

5

4. Count the occurrences of an element in a tuple.

In [11]:
t4=(1,1,2,3,4,6,7,8,1,1,1)
def object_counter(x,tupple):
    count=0
    for i in range(len(tupple)):
        if tupple[i]==x:
            count+=1
    return count
result=object_counter(1,t4)
print(result)

5

5. Find the index of the first occurrence of an element in a tuple.

In [14]:
t4.index(6)

5

6. Check if an element exists in a tuple.

In [16]:
if 39 in t4:
    print(True)
else: print(False)

False

7. Convert a tuple to a list.

In [17]:
# Answer 7

list4=list(t4)
print(list4)

[1, 1, 2, 3, 4, 6, 7, 8, 1, 1, 1]

8. Convert a list to a tuple.

In [23]:
# Answer 8

t8=tuple(list4)
print(t8)

(1, 1, 2, 3, 4, 6, 7, 8, 1, 1, 1)

9. Unpack the elements of a tuple into variables.

In [24]:
# Answer 9

a,b,c,d,e,f,g,h,i,j,k=t8

10. Create a tuple of even numbers from 1 to 10.

In [26]:
def even_numbered_tuple(n):
    temp_list=[]
    for i in range(1,n+1):
        if i%2==0:
            temp_list.append(i)
    return tuple(temp_list)

t10=even_numbered_tuple(10)
print(t10)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [28]:
def odd_numbered_tuple(n):
    temp_list=[]
    for i in range(1,n+1):
        if i%2!=0:
            temp_list.append(i)
    return tuple(temp_list)

t11=odd_numbered_tuple(10)
print(t11)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [29]:
t12=t10+t11
print(t12)

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

13. Repeat a tuple three times.

In [32]:
t12*3

(2,
 4,
 6,
 8,
 10,
 1,
 3,
 5,
 7,
 9,
 2,
 4,
 6,
 8,
 10,
 1,
 3,
 5,
 7,
 9,
 2,
 4,
 6,
 8,
 10,
 1,
 3,
 5,
 7,
 9)

14. Check if a tuple is empty.

In [34]:
t14 = ()

if len(t14) == 0:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

15. Create a nested tuple.

In [37]:
t15 = []

for i in range(1, 3):
    inner_tuple = ()
    for j in range(1, 3):
        inner_tuple += (j,)
    t15.append(inner_tuple)

resulting_tuple = tuple(t15)

print(resulting_tuple)

((1, 2), (1, 2))

16. Access the first element of a nested tuple.

In [38]:
t15[0][0]

1

17. Create a tuple with a single element.

In [39]:
t17=(1)

18. Compare two tuples.

In [40]:
if t17==t15:
    print(True)
else: print(False)

False

19. Delete a tuple.

In [42]:
del t17

20. Slice a tuple.

In [44]:
print(t15[1:])

[(1, 2)]

21. Find the maximum value in a tuple.

In [46]:
t21=(2,3,5,6,3,1,2,5,4,7,2)
print(max(t21))

7

22. Find the minimum value in a tuple.

In [47]:
print(min(t21))

1

23. Convert a string to a tuple of characters.

In [48]:
string23="This is a string"
t23=tuple(string23)
print(t23)

('T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g')

24. Convert a tuple of characters to a string.

In [55]:
string24="".join(t23)
print(string24)

This is a string

25. Create a tuple from multiple data types.

In [56]:
t25=(2,3,"string",34.5)

26. Check if two tuples are identical.

In [57]:
t26_1=(1,2,3,4,5)
t26_2=(1,2,3,4,5)

if t26_1 == t26_2:
    print(True)
else: print(False)

True

27. Sort the elements of a tuple.

In [60]:
t27=(6,43,1,3,4,67,2)
l27=list(t27)
l27.sort()
t27=tuple(l27)
print(t27)

(1, 2, 3, 4, 6, 43, 67)

28. Convert a tuple of integers to a tuple of strings.

In [61]:
tuple_of_integers = (1, 2, 3, 4, 5)
tuple_of_strings = ()

for num in tuple_of_integers:
    tuple_of_strings += (str(num),)

print(tuple_of_strings)

('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [64]:
t29=()
for string in tuple_of_strings:
    t29+=(int(string),)
    
print(t29)

(1, 2, 3, 4, 5)

30. Merge two tuples.

In [65]:
t30_1=(1,2,3)
t30_2=(4,5,6)
t30_3=t30_1+t30_2
print(t30_3)

(1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [4]:
result_tuple=()
t31=((1,2,3),(4,5,6),(7,8,9))
for i in range(len(t31)):
    for j in range(len(t31[i])):
        result_tuple+=(t31[i][j],)
print(result_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

32. Create a tuple of the first 5 prime numbers.

In [5]:
t32=(2,3,5,7,11)

33. Check if a tuple is a palindrome.

In [7]:
t33=(1,2,3,2,1)
temp_t33=t33[::-1]

if t33==temp_t33:
    print(True)
else: print(False)

True

34. Create a tuple of squares of numbers from 1 to 5.

In [9]:
t34=()
for i in range(1,6):
    t34+=(i*i,)
print(t34)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [12]:
filtered_tuple=()
for i in range(len(t34)):
    if t34[i]%2==0:
        filtered_tuple+=(t34[i],)
print(filtered_tuple)

(4, 16)

36. Multiply all elements in a tuple by 2.

In [14]:
multiplied_tuple=()
for element in t34:
    multiplied_tuple+=(element*2,)
print(multiplied_tuple)

(2, 8, 18, 32, 50)

37. Create a tuple of random numbers.

In [18]:
import random

t37=()
for i in range(10):
    t37+=(random.randint(1,100),)
print(t37)

(23, 30, 7, 95, 40, 16, 86, 63, 61, 91)

38. Check if a tuple is sorted.

In [28]:
t38=(1,2,1,4,5,6)

def is_sorted(input_tuple):
    for i in range(len(input_tuple)-1):
        if input_tuple[i+1]<input_tuple[i]:
            return False
            break
    return True
    
print(is_sorted(t38))

False

39. Rotate a tuple to the left by `n` positions.

In [36]:
t39=(1,2,3,4,5)

def left_rotater(input_tuple,n):
    temp_list=[]
    list(input_tuple)
    temp_list=input_tuple[n:]+input_tuple[:n]
    input_tuple=tuple(temp_list)
    return input_tuple

t39=left_rotater(t39,2)
print(t39)

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [38]:
t40=(1,2,3,4,5)

def right_rotater(input_tuple,n):
    list(input_tuple)
    temp_list=[]
    temp_list=input_tuple[-n:]+input_tuple[:-n]
    input_tuple=tuple(temp_list)
    return input_tuple

t40=right_rotater(t40,2)
print(t40)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [40]:
def fib_creater(n):
    fib_tuple=()
    for i in range(n):
        if i==0 or i==1:
            fib_tuple+=(i,)
        else:
            fib_tuple+=((fib_tuple[i-1]+fib_tuple[i-2]),)
    return fib_tuple

resultant_tuple=fib_creater(5)
print(resultant_tuple)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [43]:
size=int(input("How many elements do you want to input:"))
tuple42=()
for i in range(size):
    tuple42+=((int(input(f"Enter the {i+1} element"))),)
print(tuple42)

How many elements do you want to input: 5
Enter the 1 element 1
Enter the 2 element 2
Enter the 3 element 3
Enter the 4 element 4
Enter the 5 element 5

(1, 2, 3, 4, 5)

43. Swap two elements in a tuple.

In [48]:
t43=(1,2,3,4,5,6,7,8,9,10)
t43=list(t43)
t43[0],t43[9]=t43[9],t43[0]
t43=tuple(t43)
print(t43)

(10, 2, 3, 4, 5, 6, 7, 8, 9, 1)

44. Reverse the elements of a tuple.

In [51]:
t44=(1,2,3,4,5)
t44=list(t44)
t44.reverse()
t44=tuple(t44)
print(t44)

(5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [54]:
t45=()
n=5
for i in range(n):
    if i==0:
        t45+=((2),)
    else:
        t45+=((2*t45[i-1]),)
print(t45)

(2, 4, 8, 16, 32)

46. Find the longest string in a tuple of strings.

In [58]:
t46=('This','is','a','Test','String')
max_len=0
max_len_string=t46[0]
for string in t46:
    if len(string)>max_len:
        max_len=len(string)
        max_len_string=string
        
print(max_len_string)

String

47. Find the shortest string in a tuple of strings.

In [60]:
t46=('This','is','a','Test','String')
shortest_len=100
shortest_len_string=t46[0]
for string in t46:
    if len(string)<shortest_len:
        shortest_len=len(string)
        shortest_len_string=string
        
print(shortest_len_string)

a

48. Create a tuple of the first `n` triangular numbers.

In [62]:
n=5
triangular_numbers=()

for i in range(1,n+1):
    triangular_number=i*(i+1)//2
    triangular_numbers+=(triangular_number,)
    
print(triangular_numbers)

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [64]:
def contains_subsequence(main_tuple, subsequence_tuple):
    if not subsequence_tuple:
        return True
    return any(subsequence_tuple == main_tuple[i:i+len(subsequence_tuple)] for i in range(len(main_tuple)))


main_tuple = (1, 2, 3, 4, 5, 6, 7)
subsequence_tuple = (3, 4, 5)

print(contains_subsequence(main_tuple, subsequence_tuple))

True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [65]:
t50=()
n=6

for i in range(n):
    if i%2==0:
        t50+=(1,)
    else :
        t50+=(0,)
        
print(t50)

(1, 0, 1, 0, 1, 0)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [74]:
s1=set()
for i in range(5):
    s1.add(i+1)
    
print(s1)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [78]:
s1.add(6)
print(s1)

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [79]:
s1.discard(6)
print(s1)

{1, 2, 3, 4, 5}

4. Check if an element exists in a set.

In [80]:
if 4 in s1:
    print(True)
else: print(False)

True

5. Find the length of a set without using the `len()` function.

In [81]:
count=0
for _ in s1:
    count+=1

print(count)

5

6. Clear all elements from a set.

In [82]:
s1.clear()

7. Create a set of even numbers from 1 to 10.

In [84]:
s7=set()
for i in range(1,11):
    if i%2==0:
        s7.add(i)
print(s7)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [85]:
s8=set()
for i in range(1,11):
    if i%2!=0:
        s8.add(i)
print(s8)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [91]:
s9_1=(1,2,3,4,5)
s9_2=(2,3,5,7,11,13)
union_set=set()

for i in range(len(s9_1)):
    union_set.add(s9_1[i])
    
for j in range(len(s9_2)):
    union_set.add(s9_2[j])
            
print(union_set)

{1, 2, 3, 4, 5, 7, 11, 13}

10. Find the intersection of two sets.

In [92]:
s9_1=(1,2,3,4,5)
s9_2=(2,3,5,7,11,13)
union_set=set()

for i in range(len(s9_1)):
    for j in range(len(s9_2)):
        if s9_1[i]==s9_2[j]:
            union_set.add(s9_1[i])
            
print(union_set)

{2, 3, 5}

11. Find the difference between two sets.

In [93]:
set11_1={1,2,3,4,5}
set11_2={3,4,5,6,7}

diff=set11_1-set11_2
print(diff)

{1, 2}

12. Check if a set is a subset of another set.

In [98]:
s12 = {1, 2, 3, 4, 5, 6}
sub_s12 = {2, 3, 5, 8}

def subset_checker(input_set, input_subset):
    return input_subset.issubset(input_set)

result = subset_checker(s12, sub_s12)
print(result)

False

13. Check if a set is a superset of another set.

In [101]:
if s12.issuperset(sub_s12):
    print(True)
else: print(False)

False

14. Create a set from a list.

In [111]:
list14=[0,1,2,3,4]
set14=set(list14)
print(set14)

{0, 1, 2, 3, 4}

15. Convert a set to a list.

In [112]:
s14=list(set14)
print(s14)

[0, 1, 2, 3, 4]

16. Remove a random element from a set.

In [113]:
s14=set(s14)
s14.discard(2)
print(s14)

{0, 1, 3, 4}

17. Pop an element from a set.

In [114]:
s14.pop()
print(s14)

{1, 3, 4}

18. Check if two sets have no elements in common.

In [115]:
s18_1={1,2,3,4,5,6}
s18_2={6,7,8,9}

are_disjoint=s18_1.isdisjoint(s18_2)
print(are_disjoint)

False

19. Find the symmetric difference between two sets.

In [116]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

symmetric_diff_method = set1.symmetric_difference(set2)

print("Using symmetric_difference():", symmetric_diff_method)

Using symmetric_difference(): {1, 2, 6, 7}

20. Update a set with elements from another set.

In [120]:
s20_1={1,2,3,4}
s20_2={4,5,6,7}

s20_1.update(s20_2)
print(s20_1)
print(s20_2)

{1, 2, 3, 4, 5, 6, 7}
{4, 5, 6, 7}

21. Create a set of the first 5 prime numbers.

In [2]:
s21={2,3,5,7,11}
print(s21)

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [4]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}

are_identical = set1 == set2

if are_identical:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

23. Create a frozen set.

In [5]:
my_frozen_set = frozenset([1, 2, 3, 4, 5])

print(my_frozen_set)

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [6]:
set24_1={1,2,3,4,5}
set24_2={1,2,3,4}

if set24_1.isdisjoint(set24_2):
    print(True)
else: print(False)

False

25. Create a set of squares of numbers from 1 to 5.

In [11]:
set25=set()

for i in range(1,6):
    set25.add(i*i)
    
print(set25)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [15]:
set26 = {1, 2, 3, 4, 5, 6, 7, 8}
filtered_set26 = set()

for num in set26:
    if num % 2 == 0:
        filtered_set26.add(num)

print(filtered_set26)

{8, 2, 4, 6}

27. Multiply all elements in a set by 2.

In [18]:
set26 = {1, 2, 3, 4, 5, 6, 7, 8}

result_set26 = {num * 2 for num in set26}

print("Original set26:", set26)
print("Result set26 (elements multiplied by 2):", result_set26)

Original set26: {1, 2, 3, 4, 5, 6, 7, 8}
Result set26 (elements multiplied by 2): {2, 4, 6, 8, 10, 12, 14, 16}

28. Create a set of random numbers.

In [20]:
import random

random_set28=set()
for i in range(1,11):
    random_set28.add(random.randint(1,100))
    
print(random_set28)

{96, 5, 11, 76, 16, 48, 83, 24, 26}

29. Check if a set is empty.

In [26]:
set29=set()

if len(set29)==0:
    print("It is empty")
else:
    print("It is not empty")

It is empty

30. Create a nested set (hint: use frozenset).

In [29]:
set30 = {frozenset({1, 2}), frozenset({3, 4})}
print(set30)

{frozenset({3, 4}), frozenset({1, 2})}

31. Remove an element from a set using the discard method.

In [30]:
set31={1,2,3,4,5}
set31.discard(5)
print(set31)

{1, 2, 3, 4}

32. Compare two sets.

In [31]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}

are_equal = set1 == set2
print("Are the sets equal?", are_equal)

Are the sets equal? True

33. Create a set from a string.

In [33]:
string33="This is a test string"
set33=set(string33)
print(set33)

{' ', 'e', 'h', 'r', 'g', 'i', 'a', 't', 'n', 's', 'T'}

34. Convert a set of strings to a set of integers.

In [34]:
set34_string={"34","42","3"}
set34_integer=set()

for string in set34_string:
    set34_integer.add(int(string))
    
print(set34_integer)

{42, 3, 34}

35. Convert a set of integers to a set of strings.

In [35]:
set35_string=set()
for integers in set34_integer:
    set35_string.add(str(integers))
    
print(set35_string)

{'3', '42', '34'}

36. Create a set from a tuple.

In [36]:
tuple36=(1,2,3,4,5)
set36=set()

for element in tuple36:
    set36.add(element)
    
print(set36)

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [37]:
tuple37=()

for element in set36:
    tuple37+=(element,)
    
print(tuple37)

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [38]:
maxOfSet36=max(set36)
print(maxOfSet36)

5

39. Find the minimum value in a set.

In [42]:
minOfSet36=min(set36)
print(minOfSet36)

1

40. Create a set from user input.

In [44]:
set40=set()

for i in range(10):
    set40.add(input(f"Enter the string {i+1}:"))
    
print(set40)

Enter the string 1: The
Enter the string 2: quick
Enter the string 3: brown
Enter the string 4: fox
Enter the string 5: jumped
Enter the string 6: over
Enter the string 7: the
Enter the string 8: lazy
Enter the string 9: dog
Enter the string 10: .

{'fox', 'brown', 'lazy', 'dog', '.', 'the', 'The', 'jumped', 'quick', 'over'}

41. Check if the intersection of two sets is empty.

In [48]:
s1={1,2,3,4,5}
s2={6,7,8,9,10}

intersection = s1.intersection(s2)

if len(intersection)==0:
    print("Intersection is empty")
else:
    print("Intersection is not empty")

Intersection is empty

42. Create a set of the first 5 Fibonacci numbers.

In [52]:
fib_set=set()
n=5

fib_set=list(fib_set)
for i in range(n):
    if i==0 or i==1:
        fib_set.append(i)
    else:
        fib_set.append(fib_set[i-1]+fib_set[i-2])
fib_set=set(fib_set)
print(fib_set)

{0, 1, 2, 3}

43. Remove duplicates from a list using sets.

In [53]:
list43=[1,1,1,2,2,4,4,5,5,7]
list43=set(list43)
print(list43)

{1, 2, 4, 5, 7}

44. Check if two sets have the same elements, regardless of their count.

In [54]:
set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1}

set1_as_set = set(set1)
set2_as_set = set(set2)

have_same_elements = set1_as_set == set2_as_set

if have_same_elements:
    print("The sets have the same elements regardless of count.")
else:
    print("The sets do not have the same elements regardless of count.")

The sets have the same elements regardless of count.

45. Create a set of the first `n` powers of 2.

In [58]:
set45 = set()
n = 5

for i in range(n):
    set45.add(2 ** i)

print(set45)

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [59]:
list46=[1,2,3,4,5]
set46={4,5,6,7,8}
common_elements_list=[]

for i in range(len(list46)):
    if list46[i] in set46:
        common_elements_list.append(list46[i])
        
print(common_elements_list)

[4, 5]

47. Create a set of the first `n` triangular numbers.

In [68]:
n=5
triangular_list=[]
triangular_set=set()

for i in range(1,n+1):
    triangular_set.add(i*(i+1)//2)
    
print(triangular_set)

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [69]:
s1={1,2,3,4,5}
s2={4,5}

if s2.issubset(s1):
    print("S2 is subset of S1")
else:
    print("S2 in not subset of S2")

S2 is subset of S1

49. Create a set of alternating 1s and 0s of length `n`.

In [70]:
set49=set()

for i in range(5):
    if i%2==0:
        set49.add(1)
    else:
        set49.add(0)
        
print(set49)

{0, 1}

50. Merge multiple sets into one.

In [72]:
set1={1,2,3,4}
set2={5,6,7,8}
set3={9,10,11,12}
merged_set=set1.union(set2,set3)
print(merged_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}